<p id="notice"><%= notice %></p>

<fieldset>
<legend><b><%= @menuitem.name %></b></legend>

<p>
  <b>Price:</b>
  <%= @menuitem.price %>
</p>

<p>
  <b>Group1:</b>
  <%= @menuitem.group1 %>
</p>

<p>
  <b>Group2:</b>
  <%= @menuitem.group2 %>
</p>

<%= link_to 'Add To Order', menuitems_path %>
<%= link_to 'Edit', edit_menuitem_path(@menuitem) %> |
<%= link_to 'Back', menuitems_path %>
</fieldset>
