<p id="notice"><%= notice %></p>

<fieldset>
  <legend><B>Customer Info</B></legend>
<p>
  <b>Phone number:</b>
  <%= @order.phone_number %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>
</fieldset>

<fieldset>
  <legend><B>Order Info</B></legend>
<table>
  <tr>
  	<th>Order ID</th>
    <th>Menu Item ID</th>
    <th>Menu Item Name</th>
  </tr>

<% @order.lineitems.each do |lineitem| %>
  <tr>
  	<td><%= lineitem.order_id%></td>
    <td><%= lineitem.menuitem_id %></td>
    <td><%= lineitem.menuitem.name %></td>
  </tr>
<% end %>
</table>
</fieldset>

<%= link_to 'Edit Order', edit_order_path(@order) %> |
<%= link_to 'All Orders', orders_path %>

</BR></BR>
<fieldset>
  <legend><B>Menu Items</B></legend>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @menuitems.each do |menuitem| %>
  <tr>
    <td><%= menuitem.name %></td>
    <td><%= menuitem.price %></td>
    <td><%= link_to 'Add To Order', menuitem %></td>
    <td><%= link_to 'Description', menuitem %></td>
  </tr>
<% end %>
</table>
</fieldset>
